main {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#spacer {
    height: 200px;
}

h1, h2 {
    font-family: 'Egale Lake', cursive;
}


.animals {
    display: flex;
    justify-content: center;
}

.animals img {
    width: 20vw;
    height: 20vw;
    border-radius: 15%;
    border: solid 3px black;
    margin: 20px;

}

#cat {
    cursor: pointer;
}

#dog {
    cursor: pointer;
}

#horse {
    cursor: pointer;
}

body {
    background-image: url(./../assets/grassy\ hill.jpg);
    background-color: lightgreen;
}

#butMessage {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

#welcome {
    font-size: 3rem;
}

.rotate {
    transform: rotate(360deg);
    transition: 1s ease;
}